*{
    border: 0;
    margin: 0;
    border-radius: 5px;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #666666;
    box-sizing: border-box;
}
/* 置頂bar */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 0;
}
.header_fram{
    width: 1200px;
    max-width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
h1{
    font-size: 30px;
    color: #448899;
    font-family: 'Noto Sans', sans-serif;
}
.dialog{
    margin-right: 5px;
    text-decoration: none;
    color: Gray;
    display: inline-block;
    cursor: pointer;
}
body{
    padding-top: 40px;
}
body hr{
    border: solid #E8E8E8 1px;
}
/* attraction 內容 */
.wrap{
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wrap .top{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 47px;
}
/* 圖片 */
.wrap .slider{
    max-width: 100%;
    width: 540px;
    height: 406px;
    position: relative; 
    margin-right: 15px;
    /* overflow: hidden; */
}
.slider .photos{
    width: 100%;
    height: 100%;
    display: none;
}
.photos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#prev, #next {
    cursor: pointer;
    position: absolute;
    top:50%;
    width: 36px;
    height: auto;
}
.slider_radio{
    position: absolute;
    width: 70%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
}
input[name="radio_img"]{
    margin: 5px;
}
#next {
    right: 0;
}
#prev {
    left: 0;
}
/* 預定表單 */
.wrap .side{
    max-width: 100%;
    line-height: 45px;
    margin-left: 15px;
    width: 55%;
}
.side .booking_form{   
    max-width: 100%;
    width: 600px;
    height: 302px;
    background-color: #E8E8E8;
    box-sizing: border-box;
    padding: 10px;
    font-weight: bolder;
}
.booking_form #booking_btn{
    width: 154px;
    height: 36px;
    font-size: 18px;
    background-color: #448899;
    color: white;
    cursor: pointer;
}
.booking_form input[type="date"]{
    padding-left: 10px;
    font-size: 16px;
    width: 193px;
    height: 35px;
    background-color: white;
}
#money{
    padding-left: 10px;
}
/* 按鈕設定 */ /*客制單選按鈕*/
.radio input[type="radio"]{
    display: none;
}
.radio {
    margin-left: 5px;
    position: relative;
    padding-left: 22px;
}
.radio span{
    width: 18px;
    height: 18px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 5px;
}
.radio span::after{
    content:"";
    width: 16px;
    height: 16px;
    background-color: #448899;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50% ) scale(0);
    transition: .2s;
}
input[type="radio"]:checked ~ span::after{
    transform: translate(-50%,-50% ) scale(1);
}
/*  */
.line2{
    font-weight:lighter;
}
.wrap hr{
    border: solid #E8E8E8 1px;
    margin: 48px 0;
}
/* 文字內容 */
.content{
    max-width: 97%;
    margin: auto ;
}
.content div{
    margin-bottom: 50px;
}
.content .p1{
    font-weight: bolder;
}
.content p{
    line-height: 35px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    background-color: #757575;
    color: white;
}
@media screen and (max-width:1200px){
    .wrap .side{
        width: 50%;
        margin-left: 3px;
    }
    .wrap .slider{
        margin-right: 3px;
        height: auto;
    }
    .line2{
        line-height: 30px;
    }
}
@media screen and (max-width:600px){
    .wrap .slider{
        margin:0 auto 0 auto;
        height: 350px;
        width: 100%;
    }
    .wrap .side{
        width: 100%;
        margin:0 auto 0 auto;
        max-width: 90%;
    }
    .wrap .top{
        flex-wrap: wrap;
    }
    .content{
        max-width: 94%;
    }
    .wrap hr{
        margin: 40px 0;
    }
    .wrap .side{
        line-height: 43px;
    }
    .line2{
        line-height: 30px;
    }
}