*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    padding-top: 40px;
    color: Gray;
}
body hr{
    border: solid #E8E8E8 1px;
}
/* 置頂bar */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 0;
}
.header_fram{
    width: 1200px;
    max-width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
h1{
    font-size: 30px;
    color: #448899;
    font-family: 'Noto Sans', sans-serif;
}
.dialog{
    margin-right: 5px;
    text-decoration: none;
    color: Gray;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}
.dialog:hover{
    font-weight: bolder;
    color:black;
}
#logout{
    display: none;
}
main{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}
h2{
    margin: 25px auto;
    width: 1030px;
    max-width: 100%;
}
.wrap,#no_booking{
    margin: 25px auto;
    width: 1000px;
    max-width: 100%;
}
#no_booking{
    display: none;
}
.container{
    display: flex;
    position: relative;
    max-width: 100%;
    flex-wrap: wrap;
}
.delete{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.img{
    width: 266px;
    height: 200px;
    border: black solid 1px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrap label{
    display: block;
    margin: 7px 0;
    width: fit-content;
}
.wrap input{
    height: 38px;
    width: 200px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}
.wrap h3{
    line-height: 40px;
}
.booking_data{
    margin-left: 22px;
    line-height: 35px;
}
.booking_data h4{
    margin-bottom: 10px;
}

.payment{
    text-align: right;
}
.pay button{
    width: 173px;
    height: 36px;
    border-radius: 5px;
    background-color: #448899;
    color:white;
    font-size: 16px;
}

/* 彈出式登入框 */
#layer{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.7);
    z-index: 2;
    display: none;
}
#login-dialog,#signup-dialog{
    width: 340px;
    background-color: white;
    color: gray;
    position: fixed;
    top: 210px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    z-index: 3;
    font-weight: 800;
    display: none;
    animation: login .5s ;
}

.login-fram{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login-fram h3{
    margin-bottom: 10px;
    font-weight: bolder;
}
.login-top{
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    width: 100%;
    height: 10px;
    border-radius: 6px 6px 0 0;
}
#login-dialog form,#signup-dialog form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login-info{
    height: 47px;
    margin: 5px;
    border: gray 1px solid;
    border-radius: 5px;
    padding-left: 10px;
}
#login-btn,#signup-btn{
    display: block;
    background-color:#448899;
    color: white;
    font-size: larger;
    height: 47px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.close{
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: larger;
    cursor: pointer;
}
#goToSignup,#goToLogin{
    cursor: pointer;
}

@keyframes login{
    0% {
        display: none;
        top: 190px;
        opacity: 0.5;
    }
    100% {
        display: block;
        top: 210px;
        opacity: 1;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    background: #757575
}

@media screen and (max-width:600px)  {
    .wrap{
        margin: 30px auto;
    }
    .img{
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .booking_data{
        margin: auto;
        width: 100%;
    }
    .delete{
        top:auto;
        bottom: -20px;
    }
}