<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/booking.css">
    <script src="/static/js/booking.js"></script>
    <title>台北一日遊網站</title>
</head>
<hr>

<body>
    <header>
        <div class="header_fram">
            <a href={{url_for('index')}} style="text-decoration: none;">
                <h1>台北一日遊</h1>
            </a>
            <div>
                <p class="dialog">預定行程</p>
                <p class="dialog" id="show_login">登入/註冊</p>
                <p class="dialog" id="logout">登出系統</p>
            </div>
        </div>
    </header>
    <main>
        <h2>你好，<span id="user_name"></span>，待預定行程如下:</h2>
        <p id="no_booking">目前沒有任何待預訂的行程</p>
        <div id="booking_info">
            <div class="wrap">
                <div class="container">
                    <div class="delete" id="delete"><img src="/static/img/icon_delete.png" alt=""></div>
                    <div class="img" id="img_container">
                        <!-- 載入照片 -->
                    </div>
                    <div class="booking_data">
                        <h4>台北一日遊:<span id="view_name">xxxxx</span></h4>
                        <p>日期: <span id="date">xxxxx</span></p>
                        <p>時間: <span id="time">xxxxx</span></p>
                        <p>費用: <span id="price">xxxxx</span></p>
                        <p>地點: <span id="view_address">xxxxx</span></p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="wrap">
                <h3>你的聯絡資訊</h3>
                <label>聯絡姓名: <input id="booking_name" type="text"></label>
                <label>聯絡信箱: <input id="booking_email" type="text"></label>
                <label>手機號碼: <input type="text"></label>
                <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
            </div>
            <hr>
            <div class="wrap">
                <h3>信用卡付款資訊</h3>
                <label>卡片號碼: <input type="text"></label>
                <label>過期時間: <input type="text"></label>
                <label>驗證密碼: <input type="text"></label>
            </div>
            <hr>
            <div class="wrap payment">
                <div class="pay">
                    <p>總價: <span id="total"></span></p>
                    <button>確認訂購並付款</button>
                </div>
            </div>
        </div>
    </main>
    <!-- 登入對話框 -->
    <div class="login-dialog" id="login-dialog">
        <div class="login-top"></div>
        <div class="login-fram">
            <img src="/static/img/icon_close.png" class="close" id="login-close">
            <h3>登入會員帳號</h3>
            <form action="#" name="signin">
                <input type="email" placeholder="輸入電子信箱" class="login-info" name="login-email" id="login-email"
                    required>
                <input type="password" placeholder="輸入密碼" class="login-info" name="login-password" id="login-password"
                    required>
                <button type="button" id="login-btn">登入帳戶</button>
            </form>
            <p id="login-status"></p>
            <p id="goToSignup">還沒有帳戶?點此註冊</p>
        </div>
    </div>
    <div id="layer">
        <!-- 對話框黑底層 -->
    </div>
    <!-- 註冊對話框 -->
    <div class="signup-dialog" id="signup-dialog">
        <div class="login-top"></div>
        <div class="login-fram">
            <img src="/static/img/icon_close.png" class="close" id="login-close">
            <h3>註冊會員帳號</h3>
            <form action="#" name="signup">
                <input type="text" placeholder="輸入姓名" class="login-info" name="signup-user" id="signup-user" required>
                <input type="email" placeholder="輸入電子信箱" class="login-info" name="signup-email" id="signup-email"
                    required>
                <input type="password" placeholder="輸入密碼" class="login-info" name="signup-password" id="signup-password"
                    required>
                <button type="button" id="signup-btn">註冊新帳戶</button>
            </form>
            <p id="status"></p>
            <p id="goToLogin">已有帳戶了?點此登入</p>
        </div>
    </div>
    <footer>
        <p>COPYRIGHT &#169; 2021 台北一日遊</p>
    </footer>
</body>

</html>