{% extends "base.html"%}
{% block css%}
<link rel="stylesheet" href="/static/css/booking.css">
{% endblock %}
{% block js%}
<script defer src="/static/js/booking.js"></script>
<script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
{% endblock%}
{% block main %}
<h2>你好，<span id="user_name"></span>，待預定行程如下:</h2>
<p id="no_booking">目前沒有任何待預訂的行程</p>
<div id="booking_info">
    <div class="wrap">
        <div class="container">
            <div class="delete" id="delete"><img src="/static/img/icon_delete.png" alt=""></div>
            <div class="img" id="img_container">
                <!-- 載入照片 -->
            </div>
            <div class="booking_data">
                <h4>台北一日遊:<span id="view_name"></span></h4>
                <p>日期: <span id="date"></span></p>
                <p>時間: <span id="time"></span></p>
                <p>費用: <span id="price"></span></p>
                <p>地點: <span id="view_address"></span></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="wrap">
        <h3>你的聯絡資訊</h3>
        <label>聯絡姓名: <input id="booking_name" type="text" required></label>
        <label>聯絡信箱: <input id="booking_email" type="email" pattern="^@]+@[^@]+\.[^@]+" required></label>
        <label>手機號碼: <input id="booking_phone" type="text" required></label>
        <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
    </div>
    <hr>
    <div class="wrap">
        <h3>信用卡付款資訊</h3>
        <label>卡片號碼: <div class="tpfield" id="card-number"></div></label>
        <label>過期時間: <div class="tpfield" id="card-expiration-date"></div></label>
        <label>驗證密碼: <div class="tpfield" id="card-ccv"></div></label>    
    </div>
    <hr>
    <div class="wrap payment">
        <div class="pay">
            <p>總價: <span id="total"></span></p>
            <button type="submit" id="paySubmit">確認訂購並付款</button>
        </div>
    </div>
</div>
{% endblock %}