{% extends "base.html"%}
{% block css%}
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
{% endblock %}
{% block js%}
    <script defer src="/static/js/index.js"></script>
{% endblock%}
{% block main %}
    <div class="banner">
        <div class="top_fram">
            <h2>輕鬆享受台北一日悠閒</h2>
            <p>探索每個角落，體驗城市的深度旅遊行程</p>
            <div class="view_box">
                <input type="text" placeholder="輸入景點名稱查詢" name="view_name" id="view_name">
                <button id="search_btn" type="submit"><img src="/static/img/search.png" alt=""></button>
            </div>
        </div>
        <img src="/static/img/welcome 1.png" alt="welcome photo" class="banner_photo">
    </div>
    <div class="wrap" id="content_wrap">
        <!-- Ajax 加入內容 -->
    </div>
{% endblock %}