<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css" type="text/css">
    <title>台北一日遊網站</title>
    <script>   
        // function init(){
        //     fetch('http://127.0.0.1:3000/api/attractions')
        //         .then(function(response) {
        //             return response.json();
        //         })
        //         .then(function(myJson) {
        //             console.log(myJson["data"]);
        //         });
        // }
        
    </script>
</head>
<body onload="init()">
    <header>
           <div class="header_fram">
               <h1>台北一日遊</h1>
                <div>
                    <p class="dialog">預定行程</p>
                    <p class="dialog">登入/註冊</p>
                </div>
           </div>
    </header>
    <div class="banner">
        <img src="/static/welcome 1.png" alt="welcome photo" class="banner_photo">
        <div class="top_fram">
            <h2>輕鬆享受台北一日悠閒</h2>
            <p>探索每個角落，體驗城市的深度旅遊行程</p>
            <div class="view_box">
                <input type="text" placeholder="輸入景點名稱查詢" name="view_name" id="view_name">
                <button id="search_btn" type="button"><img src="/static/search.png" alt=""></button>
            </div>
        </div>
    </div>
    <div class="wrap">
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
            <div class="container"><img src="https://fakeimg.pl/270x180/ff0000/000" class="item"></div>
    </div>
    <div class="login-dialog">
        <img src="/static/icon_close.png" alt="" id="login-close">
        <div>登入會員帳號</div>
         <form action="#" name="member">
            <input type="email" placeholder="輸入電子信箱" class="login-info" name="email">
            <input type="password" placeholder="輸入密碼" class="login-info" name="password">
            <button type="submit" id="login-btn">登入帳戶</button>
         </form>
         <p>還沒有帳戶?點此註冊</p>
    </div>
    <footer>
        <p>COPYRIGHT &#169; 2021 台北一日遊</p>
    </footer>
</body>
</html>